:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	/* align-items: center; */
	min-height: 100vh;
}


header{
	background: url('/images/pattern-bg-desktop.png') no-repeat;
	height: 400px;
	background-size: cover;
	width: 100vw;
	text-align: center;
	padding-top: 60px;
}
h1{
	color: #fff;
}

.form-control{
   margin: 0 auto;
   margin-top: 20px;
   position: relative;
   width: 500px;
   
}

input{
	width: 100%;
	outline: none;
	border: none;
	padding: 20px 20px;
	border-radius: 16px;
	
}

.icon-wrapper{
	width: 50px;
	position: absolute;
	background-color: #222;
    height: 100%;
	left: 90%;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
}
svg{
	color: #fff;
}